<%= semantic_form_for @user, url: confirmation_update_path(@user) do |f|  %>
  <div class="grid-container">
    <hr>
    <%= f.inputs do %>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <%= f.input :document, as: :string, input_html: { disabled: true } %>
      </div>
      <div class="medium-6 cell">
        <%= f.input :first_name, as: :string, input_html: { disabled: true } %>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <%= f.input :second_name, as: :string, input_html: { disabled: true } %>
      </div>
      <div class="medium-6 cell">
        <%= f.input :surname, as: :string, input_html: { disabled: true } %>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <%= f.input :second_surname, as: :string, input_html: { disabled: true } %>
      </div>
      <div class="medium-6 cell">
        <%= f.input :email, as: :string, input_html: { disabled: true } %>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <%= f.input :department,
          as: :select,
          collection: {},
          include_empty: 'Seleciona un departamento' %>
      </div>
      <div class="medium-6 cell">
        <%= f.input :municipality,
          as: :select,
          collection: {},
          include_empty: 'Seleciona un municipio' %>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <%= f.input :zone,
          as: :select,
          collection: {},
          include_empty: 'Seleciona una zona' %>
      </div>
      <div class="medium-6 cell">
        <%= f.input :post,
          as: :select,
          collection: {},
          include_empty: 'Seleciona un puesto' %>
      </div>
    </div>
    <%= f.button "Guardar", class: 'verify button small-12 large-2 cell',  'data-confirm'.to_sym => '¿Estás seguro de que deseas confirmar este testigo?'  %>
    <% end %>
  </div>
<% end %>
<%= javascript_include_tag "register" %>
