<tr>
  <td><%= tel_to number_to_phone(user.phone, area_code: true) %></td>
  <td><%= user.name %></td>
  <td><%= user.document %></td>
  <td><%= user.post.name %></td>
  <td><%= user.tables.first.cod_table %></td>
</tr>
