<table align="center" class="container float-center">
  <tbody>
    <tr>
      <td>
        <br>
        <table class="row">
          <tbody>
            <tr>
              <th class="small-12 large-12 columns first last">
                <table>
                  <tr>
                    <th class="cuerpo">
                      <h4 class="titulo">Hola <%= @testigo.name %>.</h4>
                      <p>Serás el responsable y custodio de los votos de Gustavo Petro y la Colombia Humana en esta mesa:</p>
                      <p><b>Departamento:</b> <%= @testigo.post.department.name %></p>
                      <p><b>Municipio:</b> <%= @testigo.post.municipality.name %></p>
                      <p><b>Zona:</b> <%= @testigo.post.zone.to_s %></p>
                      <p><b>Puesto:</b> <%= @testigo.post.name %></p>
                      <p><b>Mesa:</b> <%= @testigo.tables.first.cod_table %></p>
                      <p>Con tu presencia el día 17 de junio defenderemos los votos que permitirán cambiar este país. El futuro de Colombia está en tus manos, contamos contigo. hemos verificado tus datos como testigo electoral de la Colombia Humana.</p>
                      <p>En unos días procederemos a cargar tus datos en Registraduría para que tu testigo coordinador pueda solicitar tu credencial. Además tu testigo coordinador debe meterte en un grupo de Whatsapp de tu puesto electoral para facilitar la comunicación.</p>
                      <p>No olvides instalarte o actualizar la app. Instálala y pruébala, te convocaremos a distintos simulacros a través de las notificaciones de la app.</p>
                      <p>La aplicación la puedes descargar en las tiendas oficiales de Google Play o App Store:</p>
                        <table align="center">
                            <tr>
                                <td id="bizq"><a href="https://play.google.com/store/apps/details?id=petro.presidencia.votacion"><img class="botones" alt="Play Store" src="https://petro.com.co/wp-content/uploads/2018/05/play_store.png"></a></td>
                                <td id="bder"><a href="https://itunes.apple.com/co/app/testigos-colombia-humana/id1380254731?mt=8"><img class="botones" alt="App Store" src="https://petro.com.co/wp-content/uploads/2018/05/app_store.png"></a></td>
                            </tr>
                        </table>
                        <p></p>
                      <p>Muchas gracias por tu atención.</p>
                      <a href="https://twitter.com/intent/tweet?hashtags=PetroPresidente&original_referer=https%3A%2F%2Fpetro.com.co%2Fingreso-testigos%2F&ref_src=twsrc%5Etfw&related=colombiahumana_%2CMovimientoMAIS&text=Yo%20soy%20testigo%20electoral%20y%20custodio%20de%20la%20esperanza%20de%20la%20Colombia%20Humana.%20Tu%20tambi%C3%A9n%20puedes%20ser%20parte%20del%20cambio%2C%20inscr%C3%ADbete%3A%20&url=https%3A%2F%2Fpetro.com.co%2Fingreso-testigos%2F&via=petrogustavo"><h5 class="firma">#PetroPresidente</h5></a>
                    </th>
                    <img alt="" src="https://www.google-analytics.com/collect?v=1&t=event&tid=UA-113384581-1&cid=12345678.12345678&dh=mail.petro.com.co&ec=email&ea=open&el=validacion_testigos"/>
                  </tr>
                </table>
              </th>
            </tr>
          </tbody>
        </table>
        <center data-parsed="" class="pie">
          <table align="center" class="menu float-center">
            <tr>
              <td>
                <table>
                  <tr>
                    <th class="menu-item float-center">
                      <a class="enlace-foo" href="https://petro.com.co">petro.com.co</a>
                    </th>
                    <th class="menu-item float-center">
                      <a class="enlace-foo" href="https://petro.com.co/politica-de-datos/">política de datos</a>
                    </th>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </center>
      </td>
    </tr>
  </tbody>
</table>
