
<div class="details">
  <div class="telefono">
    <strong>Teléfono:</strong> <%= user.phone %>
  </div>
  <div class="nombre">
    <strong>Nombre:</strong> <%= user.name %>
  </div>
  <div class="email">
    <strong>Email:</strong> <span contenteditable="true"><%= user.email || "no disponible" %></span>
  </div>
  <div class="departamento">
    <strong>Departamento:</strong> <%= user.department %>
  </div>
  <div class="municipality">
    <strong>Municipio:</strong> <%= user.municipality %>
  </div>
  <div class="zone">
    <strong>Zona:</strong> <%= user.zone %>
  </div>
  <div class="post">
    <strong>Puesto:</strong> <%= user.post %>
  </div>
</div>
