<tr onclick="window.location='<%= new_resultado_path(table) %>';">
  <td><%= table.order %></td>
  <td><%= table.post.department.name %></td>
  <td><%= table.post.municipality.name %></td>
  <td><%= table.post.zone.name %></td>
  <td><%= table.cod_table %></td>
</tr>
