<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Testigos Colombia Humana" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= yield :stylesheets %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= yield :javascripts %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar to_log">
      <div class="float-center">
        <a href="https://petro.com.co">
          <a class="logo" alt="Petro Presidente" href="https://app.petro.com.co"><%= image_tag 'logo_mail.png' %></a>
        </a>
      </div>
    </div>
    <%= yield %>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113384581-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-113384581-2');
  </script>
  </body>
</html>
