<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Testigos Colombia Humana" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
        <a class="float-center" href="https://app.petro.com.co"><%= image_tag 'logo_mail.png' %></a>
    </div>
    <%= yield %>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113384581-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-113384581-2');
  </script>
  </body>
</html>
